body {
  /* background-color: #056b05; */
  /* background-image: linear-gradient(
        110.9deg,
        rgba(159, 131, 216, 1) 2.6%,
        rgba(27, 245, 241, 1) 100.2%
      );*/
  /* background-color: #c20114; */
  /* background-image: linear-gradient(147deg, #c20114 0%, #e8c547 74%); */
  /* background-color: #045de9; */
  /* background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); */
  background-image: url("dp/wallppr.jpeg");
  width: 100%;
  background-size: cover;
  min-height: 100vh;
  /* min-width: 100vh; */

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.NavLogo {
  position: relative;
  left: 100px;
  background: url(dp/acee1.png) no-repeat;
  background-size: contain;
  height: 28px;
  width: 33px;
  transform: scale(4.5);
  z-index: 0;
}

.outter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  /* margin-top: 80px; */
  background-color: #e4d9d98a;
  /* background-size: 50%; */
  /* height: 700px; */
  width: 90%;
  border-radius: 30px;
  padding: 30px;
  border: 4px solid white;
}

.outer {
  margin: auto;
  /* margin-top: 80px; */
  background-color: #ece6e6a8;
  background-size: 50%;
  /* height: 700px; */
  width: 100%;
  min-height: 600px;
  /* overflow: hidden; */
  border-radius: 30px;
  border-radius: 30px;
  /* box-shadow: 7px 6px 6px 45px #f5f5f561; */

  /* box-shadow: 9px 4px 15px 3px rgb(158, 158, 214); */
}

.logoAll {
  /* margin-left: 50px; */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 0;
  width: 100%;
}
.container {
  display: inline-block;
  margin-top: 50px;
  margin-left: 100px;
}
.container .card {
  position: relative;
  width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover {
  height: 420px;
}
.container .card .imgbx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container .card .imgbx:hover {
  box-shadow: 0 15px 50px rgba(207, 13, 13, 0.2);
}
.container .card .imgbx img {
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.logo {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: auto;
  margin-left: 10px;
}
nav {
  width: 100%;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
  background-color: #c3abada1;
  border-radius: 30px 30px 0px 0;
}
.mem-pics {
  height: 260px;
  width: 300px;
}
h2 {
  margin: auto;
  /* margin: 0; */
}
h3 {
  font-family: "Lobster", cursive;

  margin: auto;
}

li,
li::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
li {
  /* background: none; */
  /* border: 3px solid #fff; */
  /* border-radius: 5px; */
  color: rgb(245, 10, 10);
  font-size: 20px;
  font-weight: bold;
  padding: 1px 5px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 20px;
}
li::before,
li::after {
  background-image: linear-gradient(
    110.9deg,
    rgba(159, 131, 216, 1) 2.6%,
    rgba(27, 245, 241, 1) 100.2%
  );
  /* background: rgb(21, 22, 22); */
  content: "";
  position: absolute;
  /* z-index: 0; */
}

li:hover {
  color: #f1f7f3;
  z-index: 1;
}
