.header-gallery {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  width: 100%;
  /* border: 10px #fff solid; */
  color: rgb(242 241 247);
  /* background-color: rgba(216, 240, 192, 0.685); */
  height: 50px;
  margin: 50px 0 10px 0;
  font-family: "Carter One", cursive;
  text-shadow: 3px 4px #481616;
}

.outer-gallery {
  
  
  
  
  /* background-color: blue; */
  width: 100%;
  /* height: 600px; */

  /* background-color: blue; */
}


.gird-item{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #354F90;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  color: white;
 
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 }
 .ejercico a {
   opacity: 0;
   text-decoration:none;
   cursor: none;
 }
 .gird-item:hover .ejercico a {
   color: white;
 
   opacity: 1;
   
 }
 .gird-item:hover {
   filter: opacity(0.9);
   transform: scale(1.04);
 }
 
 /*-------------Gird style----------*/
 
 .gird-container{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /*1fr Columnas que puedes colocar */
    grid-auto-rows: minmax(250px, auto);
    gap:15px; /*Separación automática*/
    padding: 10px;
    grid-auto-flow: dense; /*Para que no hayan espacios en blanco glaeria*/
 }
 
 .text{
 
   
     position: absolute;
     color: white;
     z-index: 3;
     text-align: center;
     margin-top: 20%;
     
     margin-left: 35px;
 }
 @media(min-width: 600px){
 .wide {
   grid-column: span 2;
 }
 
 .tall {
   grid-row: span 2;
 }